<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Terminal
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Terminal</ion-title>
        </ion-toolbar>
    </ion-header>
    <!--Conteudo da aba-->
    <div class="telaTerminal">
        <ion-text color="danger">
            <small>$run calculadora -r -b </small>
        </ion-text>
        <ion-text color="warning">
            <small>[ <br> executando calculadora versao beta no modo root <br>]</small>
        </ion-text>
        <ion-text color="secondary">
            <small><ion-icon name="checkmark-sharp"></ion-icon> sucesso</small>
        </ion-text>
    </div>
    <div class="telaTerminal">
        <ion-text color="danger">
            <small>$run calculadora -r -b </small>
        </ion-text>
        <ion-text color="warning">
            <small>[ <br> executando calculadora versao beta no modo root <br>]</small>
        </ion-text>
        <ion-text color="secondary">
            <small><ion-icon name="checkmark-sharp"></ion-icon> sucesso</small>
        </ion-text>
    </div>
    <div class="telaTerminal">
        <ion-text color="danger">
            <small>$run calculadora -r -b </small>
        </ion-text>
        <ion-text color="warning">
            <small>[ <br> executando calculadora versao beta no modo root <br>]</small>
        </ion-text>
        <ion-text color="secondary">
            <small><ion-icon name="checkmark-sharp"></ion-icon> sucesso</small>
        </ion-text>
    </div>
    <div class="telaTerminal">
        <ion-text color="danger">
            <small>$run calculadora -r -b </small>
        </ion-text>
        <ion-text color="warning">
            <small>[ <br> executando calculadora versao beta no modo root <br>]</small>
        </ion-text>
        <ion-text color="secondary">
            <small><ion-icon name="checkmark-sharp"></ion-icon> sucesso</small>
        </ion-text>
    </div>
    <div class="telaTerminal">
        <ion-text color="danger">
            <small>$run calculadora -r -b </small>
        </ion-text>
        <ion-text color="warning">
            <small>[ <br> executando calculadora versao beta no modo root <br>]</small>
        </ion-text>
        <ion-text color="secondary">
            <small><ion-icon name="checkmark-sharp"></ion-icon> sucesso</small>
        </ion-text>
    </div>
    <div class="telaTerminal">
        <ion-text color="danger">
            <small>$run calculadora -r -b </small>
        </ion-text>
        <ion-text color="warning">
            <small>[ <br> executando calculadora versao beta no modo root <br>]</small>
        </ion-text>
        <ion-text color="secondary">
            <small><ion-icon name="checkmark-sharp"></ion-icon> sucesso</small>
        </ion-text>
    </div>
    <div class="telaTerminal">
        <ion-text color="danger">
            <small>$run calculadora -r -b </small>
        </ion-text>
        <ion-text color="warning">
            <small>[ <br> executando calculadora versao beta no modo root <br>]</small>
        </ion-text>
        <ion-text color="secondary">
            <small><ion-icon name="checkmark-sharp"></ion-icon> sucesso</small>
        </ion-text>
    </div>
    <!--Conteudo da aba FIM-->
    <app-explore-container name="Tab 3 page"></app-explore-container>
</ion-content>
<ion-footer>
    <ion-list>
        <ion-item>
            <ion-input placeholder="Jairo$Root/"></ion-input>
            <ion-button color="danger" (click)="presentToastWithOptions()">
                <ion-icon name="chevron-forward-circle-sharp"></ion-icon>
            </ion-button>
        </ion-item>
    </ion-list>
</ion-footer>
