<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            {{tituloAba}}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">{{tituloAba}}</ion-title>
        </ion-toolbar>
    </ion-header>
    <!--Conteudo da aba-->
    <div class="telaTerminal">
        <ion-text color="danger">
            <small>$info terminal -x -r </small>
        </ion-text>
        <ion-text color="warning">
            <small>[ <br> terminal em fase de desenvolvimento <br>]</small>
        </ion-text>
        <ion-text color="primary">
            <small><ion-icon name="alert-sharp"></ion-icon> warning</small>
        </ion-text>
    </div>
    <!--Conteudo da aba FIM-->
    <app-explore-container name="Tab 3 page"></app-explore-container>
</ion-content>
<ion-footer>
    <ion-list>
        <ion-item>
            <ion-input placeholder="Jairo$Root/" (click)="presentToastWithOptions()" maxlength="0"></ion-input>
            <ion-button color="danger" (click)="presentToastWithOptions()">
                <ion-icon name="chevron-forward-circle-sharp"></ion-icon>
            </ion-button>
        </ion-item>
    </ion-list>
</ion-footer>
