.calc-main {
    height: 100%;
}

.calc-display {
    padding: 60px 15px 20px;
}

ion-input {
    color: #ffffff;
    font-size: 48px;
}

ion-col {
    padding: 0;
    margin: 0;
    text-align: center;
}

ion-button {
    height: 100px;
    width: 95%;
    font-size: 20px;
}

.double-width {
    width: 86%;
}